body {
    text-align: center;
    background-color:darkslategray;
    
}
#althaf {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: solid;
    border-color:white;
    border-width: 5px;
}
.althafed {
   background-color:darkred;
}
button {
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    background-color:darkcyan;
    color: white;
    


}